body{
  margin: 0;
  text-align: center;
}

h1{
  margin: 50px auto 0;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
  color: #54BAB9;
  line-height: 2;
}

h2{
  font-size: 2.5rem;
  font-weight: normal;
  color: #54BAB9;
}

h3{
  color: #18978F;
}

a{
  color: #03506F;
  margin-right: 10px;
  text-decoration: none;
}

a:hover{
  color:#04293A;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width:5%;
}

.top-container{
  background-color: #ABF0E9;
  position: relative;
  padding-top: 100px;
  font-family: 'Source Code Pro', monospace;
}

.middle-container{
  padding-top: 50px;
  font-family: 'Source Code Pro', monospace;
  background-color: #D4F3EF;
}

.bottom-container{
  background-color: #82C4C3;
  margin-bottom: 0;
  padding-top: 30px;
}

.top-cloud{
  position: absolute;
  right:150px;
  top:50px;
  width: 15%;
}

.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 250px;
  width: 15%;
}

.profile-image{
  border-radius: 50%;
}

.intro{
  width: 50%;
  margin: 50px auto;
  line-height: 2;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-image1{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-image2{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.end{
  width:50%;
  margin: 20px auto 50px;
  line-height: 2;
}

.btn {
  background: #63B7AF;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #82C4C3;
}

.bottom-most{
  margin-bottom: 0;
  padding-bottom: 20px;
}
